@{
    string[] menuItems = { "Elf", "Hobbit", "Orc", "Ring", "Wizard" };
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="~/css/shared.css">
</head>
<body>
    <table id="main-parent">
        <tr>
            <td >
                <div id="left-side">
                    <ul>
                        @foreach (var x in menuItems)
                        {
                            <li class="menu-item">
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"  onclick="location.href='@Url.Action(@x, "Main")'">
                                    @x
                                </button>
                            </li>
                        }
                    </ul>
                </div>
            </td>

            <td >
                <div id="right-side">

                    @RenderBody()

                </div>
                <hr />
                <button type="button" class="btn btn-default" aria-label="Add Item">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default" aria-label="Delete One">
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default" aria-label="Delete Multiple">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default" aria-label="Change">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
                <hr />

            </td>
    </table>


</body>
