@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="jumbotron">
    <h1>MIDPS LAB 7</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to my lab</h2>
        <p>
            Lorem Ipsum Lorem sit amet ... i don't rememeber what's next.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Tech Stack</h2>
        <p>The application was built using C# ASP.NET Core v2;</p>
        <p>Database: PostgreSQL, ORM: Entity Framework</p>
    </div>
    <div class="col-md-4">
        <h2>Models</h2>
        <p>I used two models: Ring and Wizard, which have a many-to-many relationship between them.</p>
    </div>
</div>